
.App-header {
  background-color: rgb(238, 233, 233);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.category> img{
  border-radius: 50%;
  width: 300px;
  margin-bottom: 10%;
}
a{
  text-decoration-line: none;
}
.category{
  margin-top: 10%;
  text-align: center;
}
.category> h5{
  margin-left: 3% ;
}
.category:hover{
  color:black;
  background-color: #ddd;
}
.product-card{
  width: 13rem;
  margin-left: 9%;
  margin-top: 5%;
  margin-bottom: 4%;
  padding: 2%;
}
.product-card:hover{
  width: 12.9rem;
  border: 2px solid rgb(183, 183, 183);
  
}

.product-title{
  font-size: small;
  margin-top: -2%;
  color: black ;
}
.product-text{
  background-color: rgb(248, 248, 41) !important;
  color: black;
  border-radius: 9%;
  box-shadow: 10px -6px #ddd;
}

.btn-product{
  width: 70%;
  font-size: xx-small;
  margin-top: 0.5% !important;
}
.orderbtn{
  display: flex;
  justify-content:center;
  text-align: center;
  padding-left:8%;
}
.dropdown{
  padding-left: 6%;
  margin-top: 0%;
}

.detail-img{
  width: 60%;
  border-radius: 2%;
  box-shadow: 40px -30px rgb(193, 192, 192);
}
.basket-table{
font-size: small;
}

